<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div th:each="ele : ${users}" class="alert alert-info mt-1 bg-dark">
    <span th:text="${ele.username}" name="jid" class="text-white bg-dark"/>
    <span th:text="${ele.roles}" name="jid" class="text-white bg-dark"/>
    <a th:href="'/user/'+${ele.id}">Edit</a>

</div>

</body>
</html>